/* global */
:root{
	--primary:#f1bb0a;
}
html{
	font-size: 62.5%; /*reset the html 1rem=10px*//*16px*//* 10px*/
}
*{
	margin:0;
	padding:0;
}
body{
	font-family: 'Lato', sans-serif;
	background-color: black;
}
img{
	max-width: 100%;
}
p{
	font-size:1.6rem;
}
/* utilities */
.upper-text{
	font-size:1.2rem;
	font-weight:700;
	letter-spacing:3px;
	text-transform:uppercase;
}
/*menu*/
nav.menu{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	height: 5rem;
}
img.logo{
	height: 5rem;
}
.hide{
	display: none;
}
.icons{
	display: flex;
	justify-content: space-around;
	flex-basis: 40%;
	align-items: center;
}
@media(min-width:768px){
	.hide{
		display: block;
	}
	.icons{
		flex-basis: 25%;
	}
	.renew-btn{
		border-bottom: 2px solid var(--primary);
		background-size: 50% 200%;
		background-image:linear-gradient(to bottom, #fff 50%, var(--primary) 50%);
		transition: background-position .2s ease-in-out, color .2s ease-in-out;
	}
	.renew-btn:hover{
		background-position: 0 100%;
	}
}
.more-btn{
	color: white;
	margin-left: -16rem;
	border-bottom: 2px solid var(--primary);
	background-size: 50% 200%;
	background-image:linear-gradient(to bottom, #000 50%, var(--primary) 50%);
	transition: background-position .2s ease-in-out, color .2s ease-in-out;
}
.more-btn:hover{
	color: black;
	background-position: 0 100%;
}
.icons i{
	font-size:1.6rem;
}
.subscribe-btn{
	background-size: 200% 100%;
	background-position: 100% 0;
	background-image: linear-gradient(to left, black 50%, var(--primary) 50%);
	transition: background-position .2s ease-in-out, color .2s ease-in-out;
	color: white;
	padding:1.7rem;
}
.subscribe-btn:hover{
	background-position: 0% 0;
	color: black;
}
/* header */
header.site-header{
	background-color: black;
	text-align: center;
	
}
.site-header h1{
	font-size: 4.2rem;
	color: white;
	text-transform: uppercase;
	letter-spacing:.4rem;
	padding-top: 10rem;
}
.site-header .title-description{
	color: white;
	font-size:1.8rem;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-top:2rem;
}
span.subs-text{
	border-bottom:.2rem solid var(--primary);
}
span.subs-text:hover{
	background-color:var(--primary);
	color: black;
	cursor:pointer;
}
@media(min-width:768px){
	.header-container{
		display: flex;
		flex-direction: row-reverse;
		margin-right: 20rem;
    	margin-left: 20rem;
	}
	.news{
		flex-basis:60%
	}
}
.line{
	display: block;
	width:4%;
	margin: 1rem auto 5rem auto;
	border-bottom:4px solid var(--primary);
}
/*news*/
.main-news{
	height: 45rem;
	width: 45rem;
	margin-left: auto;
	margin-right: auto;
	background-position: bottom center;
	background-size: cover;
}
.main-news-text{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	height:90%;
	text-align:left;
	padding:1rem;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	color:white;
}
.main-news-text h2{
	color: white;
	text-transform: uppercase;
	letter-spacing:.2rem;
	font-size:1.2rem;
}
.main-news-text .title{
	font-size:4rem;
	font-weight: bold;
}
.secondary-news{
	height: 45rem;
	width: 45rem;
	margin: 2rem auto;
}
.secondary-news-text{
	margin-top:-3px;
	width: 41rem;
	background-color: white;
	border: 1px solid black;
	text-align: left;
	padding:2rem;
}
.secondary-news-text img:hover{
	border-bottom:0.5rem solid var(--primary);
}
.secondary-news-text h2{
	color: gray;
	text-transform:uppercase;
	letter-spacing: .2rem;
	font-size:1.2rem;
	margin-bottom: 1rem;
}
.secondary-news-text p{
	font-size:2rem;
	font-weight:700;
	margin-bottom: 1rem;
}
.main-news .read-text{
	font-size:1.2rem;
	text-transform:uppercase;
	letter-spacing:3px;
	color: white;
}
.secondary-news-text .read-text{
	color: black;
	font-size:1.2rem;
	text-transform:uppercase;
	letter-spacing: 3px;
}
@media(min-width:768px){
	.main-news{
		width: 70rem;
		height: 42rem;
	}
	.secondary-news{
		width:32rem; /*25rem;*/
		margin: 2rem 3rem;
	}
	.secondary-news-text{
		width:28rem; /*24rem;*/
	}
	.secondary-news-container{
		display: flex;
	}
}
.picks-element {
	display: flex;
	width: 68%; /*width:86%;*/
	margin-left:auto;
	margin-right:auto;
	margin-bottom:3rem;
	text-align: left;
}
.picks-element img{
	width:9rem;
	height:9rem;
}
.picks-element p{
	color: white;
	font-weight:700;
	margin-left:3rem;
}
.todays-title {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:5rem;
	width: 68%;
}
.todays-line {
    color: var(--primary);
	margin-right: 1rem;
}
.secondary-news-img{
	width: 100%;
}
/*footer*/
.text-footer {	
    font-size: 1.2rem;
    color: #999;
    letter-spacing: .2px;
    line-height: 1.25;
}
.line-footer {
    border: 0;
    border-top: 1px solid #333;
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
}
.footer-container{
    display: flex;
	justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
	padding-right: 5rem;
    padding-left: 5rem;
}
.footer-img {
	padding-right: 3rem;
	width: 18rem;
}
.bg-container {
    display: inline-block;
    width: 100%;
    height: 28rem;
    margin-top: 10rem;
}
/*sign up*/
.sign-up-first-text {
	color: white;	
	padding: auto auto;
	text-align: center;
	font-size:2.4rem;
	font-weight: bold;
	margin: 3rem;
}
.sign-up-text{
	color: white;
	padding: auto auto;
	text-align: center;
	margin: 2.1rem;
	font-size:1.8rem;
	font-weight: bold;
}
.sign-up-bottom{
	background-size: 200% 100%;
	background-position: 100% 0;
	background-image: linear-gradient(to left, var(--primary) 50%, white 50%);
	transition: background-position .2s ease-in-out, color .2s ease-in-out;
	font-weight: bold;
	text-transform: uppercase;
	width: 10%;
	border: none;
	color: black;
	padding: 1.5rem 10rem;
	text-align: center;
	text-decoration: none;
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	margin:auto;
	
}
.sign-up-bottom:hover{
	background-position: 0 100%;
}
.row {
	display: flex;
	padding: 5rem 5rem;
}
.column {
	color: white;
	font-size: 1rem;
	flex: 50%;
	padding: 10px;
}  
.bottom-options {
	padding-top: 1.5rem;
}
.bottom-options p{
	font-size: 1.3rem;
	margin-top: .9rem;
	margin-bottom: .9rem;
	letter-spacing: .1rem;
}
.icon-space{
	letter-spacing: 1.1rem;
}
.icon-space:hover{
	color: var(--primary);
}

@media(min-width:768px){
	.bg-container {
		height: 20rem;
	}
	.footer-container{
		padding-right: 0rem;
		padding-left: 0rem;
	}
	.footer-img {
		padding-right: 3rem;
		width: 10rem;
	}
}

.link:hover{
	text-decoration: underline;
}